# step03_Descriptive
 - DataFrame의 요약통계량
 - 상관계수

# 1. product.csv

In [1]:

import pandas as pd

product = pd.read_csv('C:\\IITT\\4_Python-II\\data\\product.csv', encoding='utf-8')
product.info() # 264 x 3
product.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       264 non-null    int64
 1   b       264 non-null    int64
 2   c       264 non-null    int64
dtypes: int64(3)
memory usage: 6.3 KB

   a  b  c
0  3  4  3
1  3  3  2
2  4  4  4
3  2  2  2
4  2  2  2

In [2]:
# 요약통계량
product.describe() # R의 summary함수

# 행/열 통계
product.sum(axis=0)
a = product.sum(axis=1)
product[product.sum(axis=1)==max(a)]

# 산포도 : 분산, 표준편차
product.var()
product.std()

# 빈도수 : 집단변수
a_cnt = product['a'].value_counts()
print(a_cnt)
b_cnt = product['b'].value_counts()
print(b_cnt)

# 유일값 보기
print(product['c'].unique())

# 상관관계
product.corr()

3    126
4     64
2     37
1     30
5      7
Name: a, dtype: int64
3    119
4     79
2     48
5     10
1      8
Name: b, dtype: int64
[3 2 4 5 1]

          a         b         c
a  1.000000  0.499209  0.467145
b  0.499209  1.000000  0.766853
c  0.467145  0.766853  1.000000

# 2. iris.csv

In [3]:
iris = pd.read_csv('C:\\IITT\\4_Python-II\\data\\iris.csv', encoding='utf-8')
iris.info()

# subset 생성
iris_df = iris.iloc[:,:4]
iris_df.shape

# 변수 4개 요약 통계량
iris_df.describe()

# 상관계수 행렬
iris_df.corr()


# 집단변수
species = iris.Species
species.value_counts() # virginia 50 versicolor 50 setosa 50
list(species.unique()) # ['setosa', 'versicolor', 'virginica']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

['setosa', 'versicolor', 'virginica']