# 집단변수 기준 자료분석
 - subset 생성
 - group 객체 생성
 - group 객체 시각화

In [1]:
import pandas as pd

# 1. Dataset load

In [2]:
wine = pd.read_csv('C:\\IITT\\4_Python-II\\workplace\\data\\winequality-both.csv')
wine.info() # 6497 x 13

# 칼럼명 변경 : 공백 -> _
wine.columns = wine.columns.str.replace(' ','_')
print(wine.columns)
'''
wine = wine.rename({'기존':'변경'}, axis='columns')
'''

# 집단변수 확인
print(wine.type.unique()) # red, white : 2
print(wine.quality.unique()) # 5 6 7 4 8 3 9 : 7

Index(['type', 'fixed_acidity', 'volatile_acidity', 'citric_acid',
       'residual_sugar', 'chlorides', 'free_sulfur_dioxide',
       'total_sulfur_dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'],
      dtype='object')
['red' 'white']
[5 6 7 4 8 3 9]

# 2. subset 생성

In [3]:
# 1) type 칼럼 : DataFrame
# type 객체가 red wine인 data만 추출
red_wine = wine.loc[wine['type']=='red',:]
red_wine.info() # 1599 x 13

# 2) type(행) vs quality(열)
red_quality =  wine.loc[wine['type']=='red','quality']
red_quality.shape # (1599,) 1차원의 Series 형태

white_quality = wine.loc[wine['type']=='white','quality']
white_quality.shape # (4898,)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1599 entries, 0 to 1598
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  1599 non-null   object
 1   fixed_acidity         1599 non-null   float64
 2   volatile_acidity      1599 non-null   float64
 3   citric_acid           1599 non-null   float64
 4   residual_sugar        1599 non-null   float64
 5   chlorides             1599 non-null   float64
 6   free_sulfur_dioxide   1599 non-null   float64
 7   total_sulfur_dioxide  1599 non-null   float64
 8   density               1599 non-null   float64
 9   pH                    1599 non-null   float64
 10  sulphates             1599 non-null   float64
 11  alcohol               1599 non-null   float64
 12  quality               1599 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 174.9+ KB

(4898,)

# 3. group 객체 생성 : 집단변수 2개 -> 11변수 그룹화
 - 형식) DF.groupby(['칼럼1','칼럼2'])

In [6]:
wine_grp = wine.groupby(['type','quality'])
# 각 그룹의 빈도수 확인
wine_grp.size() # 14

# 1d -> 2d 
# unstack() : 교차분할표
grp_2d = wine_grp.size().unstack()
print(grp_2d)


# crosstab(행,열) : 교차분할표
tab = pd.crosstab(wine['type'],wine['quality'])
print('\n\n')
print(tab)

quality     3      4       5       6      7      8    9
type
red      10.0   53.0   681.0   638.0  199.0   18.0  NaN
white    20.0  163.0  1457.0  2198.0  880.0  175.0  5.0



quality   3    4     5     6    7    8  9
type
red      10   53   681   638  199   18  0
white    20  163  1457  2198  880  175  5

# 5. wine 종류(집단변수) vs 알콜(연속형) 통계량

In [7]:
wine_grp = wine.groupby('type')
# 특정 칼럼의 요약 통계량
wine_grp['alcohol'].describe()

        count       mean       std  min  25%   50%   75%   max
type
red    1599.0  10.422983  1.065668  8.4  9.5  10.2  11.1  14.9
white  4898.0  10.514267  1.230621  8.0  9.5  10.4  11.4  14.2