
# step01_Series.py

Series 객체 특징 : pandas 패키지 제공 class
 - 1차원 배열구조
 - 수학/통계 함수 제공
 - 범위 수정, 블럭 연산
 - indexing/slicing 기능 
 - 시계열 데이터 생성

+ object.index -> 객체의 인덱스 정보 출력

+ object.values -> 객체의 값 출력

In [5]:
from pandas import Series

# 1. Series 객체 생성

In [20]:
# 1) list 이용

lst = [4000, 3000, 3500, 2000]
ser = Series(lst) # list -> seires
print('list=',lst,'\n','series=\n',ser) # index 자동 생성

list= [4000, 3000, 3500, 2000]
 series=
 0    4000
1    3000
2    3500
3    2000
dtype: int64

In [5]:
print(ser.index) # 색인 정보
print(ser.values) # 값
print(ser[0])

RangeIndex(start=0, stop=4, step=1)
[4000 3000 3500 2000]
4000

In [6]:
# 직접 index 설정하기
ser1_2 = Series([4000,3000,3500,2000], index=['a','b','c','d'])
print(ser1_2)
print(ser1_2.index)
print(ser1_2.values)

a    4000
b    3000
c    3500
d    2000
dtype: int64
Index(['a', 'b', 'c', 'd'], dtype='object')
[4000 3000 3500 2000]

In [21]:
# array와 index에 이름 부여
ser.name = '숫자'
print(ser)
ser.index.name = '인덱스'
# ser.value.name = '값' error
print(ser)

0    4000
1    3000
2    3500
3    2000
Name: 숫자, dtype: int64
인덱스
0    4000
1    3000
2    3500
3    2000
Name: 숫자, dtype: int64

In [7]:
# 2) dict 이용

person = {'name':'홍길동','age':35, 'addr':'서울시'}
ser2 = Series(person) #key가 index 역할을 해줌
print('ser2=\n',ser2)

ser2=
 name    홍길동
age      35
addr    서울시
dtype: object

In [8]:
print(ser2.index) # 색인 정보
print(ser2.values) # 값

Index(['name', 'age', 'addr'], dtype='object')
['홍길동' 35 '서울시']

In [11]:
# index 사용 : object['key' or 조건식]

print(ser2['age'])

# boolean 조건식

ser[ser>=3500]

35

0    4000
2    3500
dtype: int64

# 2. indexing : list 동일

In [13]:
ser3 = Series([4, 4.5, 6, 8, 10.5]) #생성자
print(ser3[0]) # 4.0
print(ser3[:3]) # [0]4.0, [1]4.5, [2]6.0
print(ser3[3:]) # [3]8.0 [4]10.5
# print(ser3[-1]) list에서는 값을 반환하지만 series에서는 오류
print(type(ser3[0]))

4.0
0    4.0
1    4.5
2    6.0
dtype: float64
3     8.0
4    10.5
dtype: float64
<class 'numpy.float64'>

# 3. Series 결합

In [6]:
# object 생성
p1 = Series([400,None,350,200], index = ['a','b','c','d'])
p2 = Series([400,150,350,200], index = ['a','c','d','e'])
# Series 결합
p3 = p1 + p2
print(p3) # index가 동일한 데이터끼리

a    800.0
b      NaN
c    500.0
d    550.0
e      NaN
dtype: float64

# 4. 결측치 처리 방법
 - 형식1) 평균, 0 : object.fillna(대체값)
 - 형식2) 제거 : object[pandas.notnull(object)]

In [7]:
import pandas

In [9]:
# 1) 평균 대체
p4 = p3.fillna(round(p3.mean(),2))

print(p4) # 결측치에 평균 616.67값으로 채워짐

# 2) 0 대체
p5 = p3.fillna(0)
print(p5)

# 3) 제거 
p6 = p3[pandas.notnull(p3)] # subset 생성
print(p6)

a    800.00
b    616.67
c    500.00
d    550.00
e    616.67
dtype: float64
a    800.0
b      0.0
c    500.0
d    550.0
e      0.0
dtype: float64
a    800.0
c    500.0
d    550.0
dtype: float64

In [18]:
# 결측치 확인
print(pandas.isnull(p3)) # True, False로 값 반환
print(pandas.notnull(p3)) # 결측치 False로 반환
print(p3[pandas.isnull(p3)].index) # 결측치 index 반환 : b, e

a    False
b     True
c    False
d    False
e     True
dtype: bool
a     True
b    False
c     True
d     True
e    False
dtype: bool
Index(['b', 'e'], dtype='object')

# 5. 범위 수정, 블럭 연산

In [22]:
p2 = Series([400,150,350,200], index=['a','b','d','e'])

In [24]:
# 1) 범위 수정
print('범위 수정 전 : \n',p2)
p2[1:3] = 300
print('범위 수정 후 : \n',p2)
'''
lst = [1,2,3,4]
lst[1:3] = 3 # error 범위 수정 불가능
'''

범위 수정 전 :
 a    400
b    300
d    300
e    200
dtype: int64
범위 수정 후 :
 a    400
b    300
d    300
e    200
dtype: int64

In [25]:
# 2) 블럭 연산
print('덧셈 : \n',p2 + p2) 
print('뺄셈 : \n',p2 - p2)

'''
lst = [1,2,3,4]
lst + lst =  [1,2,3,4,1,2,3,4] 
# 연산 불가능 
'''

덧셈 :
 a    800
b    600
d    600
e    400
dtype: int64
뺄셈 :
 a    0
b    0
d    0
e    0
dtype: int64

'\nlst = [1,2,3,4]\nlst + lst =  [1,2,3,4,1,2,3,4] \n# 연산 불가능 \n'

In [26]:
# 3) broadcast 연산 (1차 vs 0차)
v1 = Series([1,2,3,4])
scala = 0.5
b = v1 * scala # vector(1차원)*scala(0차원)
print(b) # 각각의 백터값에 0.5씩 곱해짐

'''
lst = [1,2,3,4]
lst * scala # error 연산을 위해서 for문을 사용해야함
ex) b = [i*scala for i in lst]
'''

0    0.5
1    1.0
2    1.5
3    2.0
dtype: float64

'\nlst = [1,2,3,4]\nlst * scala # error 연산을 위해서 for문을 사용해야함\nex) b = [i*scala for i in lst]\n'

In [27]:
# 4) 수학/통계 함수
print('sum=',v1.sum())
print('mean=',v1.mean())
print('var=',v1.var())
print('std=',v1.std())
print('max=',v1.max())


# 호출 가능한 멤버 확인
print(len(dir(v1))) # 429개

print(v1.shape) # (4,) : 1차원의 자료구조 + 4개의 원소 
print(v1.size) # 원소 갯수
print(len(v1)) # 원소 갯수

sum= 10
mean= 2.5
var= 1.6666666666666667
std= 1.2909944487358056
max= 4
429
(4,)
4
4